html {
  max-width: 1200px;
  background-color: whitesmoke;
}

.container {
  margin: 20px;
  border: 20px solid black;
}

.navcont {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  border-bottom: 20px solid black;
  padding: 10px solid grey;
  overflow: hidden;

}

.navcont > div {
  display: flex;
  background-color: rgb(255, 105, 105);
  border: 15px solid rgb(58, 105, 128);
  padding: 10px;
  align-items: center;
}

.nav {
  flex: 2;
  overflow: hidden;
}
.logo {
  flex: 1;
}
.social {
  flex: 1;
}

.banner {
  background-color: rgb(255, 230, 0);
  border: 20px solid orange;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 20px solid black;
}

.article-container {
  display: flex;
  flex-direction: column;
  border-right: 20px solid black;
  width: 70%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex: 1 1 calc(50% - 60px);
  background-color: rgb(21, 92, 164);
  padding: 10px;
  border: 20px solid rgb(93, 75, 137);
}
.navegacion {
  background-color: rgb(152, 185, 222);
  border: 20px solid rgb(93, 75, 137);
  padding: 10px;
}

.publi-container {
  background-color: rgb(255, 0, 128);
  width: 30%;
  padding: 10px;
}

.publi {
  background-color: yellow;
  border: 10px solid rgb(255, 0, 128);
  padding: 10px;
}

.pie {
  background-color: rgb(255, 255, 126);
  align-items: stretch;
  padding: 10px;
}

@media only screen and (max-width: 768px) {  
  /** PARA TABLETS **/
  html {
    max-width: 1000px;
    background-color: aquamarine;
  }
   .navcont{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    border: 20px solid black;
  }

  .article-container {

    width: 100%;
    border-bottom: 20px solid black;
    
  }
  .publi-container {

    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 576px) {
  html {
    max-width: 768px;
    background-color: rgb(255, 193, 193);

  }
   .navcont{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    border: 20px solid black;
  }

  .article-container {
    width: 100%;
    border-bottom: 20px solid black;
    
  }
  .articles {
    display: flex;
    flex-direction: column;
    
  }
  .publi-container {

    width: calc(100% - 20px);
  }
}

@keyframes athover {
  
  from {background-color: rgb(255, 105, 105); border: 15px solid rgb(58, 105, 128); padding: 10px;}
  to {background-color: rgb(255, 0, 183); border: 11px solid rgb(58, 105, 128); padding: 14px;}
}

.navcont > div:hover{
  animation: athover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
